<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <connectionStrings>
    <add name="printCon" connectionString ="Server=110.53.49.55;User Id=root;password=cccc2017;Database=dbprint"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <!--鉴权方式-->
      <authentication mode="Forms">
        <forms name="print" defaultUrl="main.aspx" loginUrl="Default.aspx" protection="Encryption" timeout="120" slidingExpiration="true"/>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>

  <!--目录权限-->
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="layui">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
